.btn {
	background-color:$mainBlue;
	color:$mainWhite;
	text-decoration:none;
	padding:.4rem .5rem;
	font-size:.9rem;
	display:inline-block;


	@mixin atSmall {
		padding:.5rem .65rem; /*(pionowy, poziomy, vertical, horizontal) */
		font-size:1rem;
		font-weight:500;
	} 

	&:hover {
		box-shadow:4px 4px 5px rgba($mainWhite, .3);
		background-color:$mainWhite;
		color:$mainBlue;
	}

	&--brown {
		background-color:$mainBrown;
		&:hover {
			box-shadow:4px 4px 5px rgba($mainWhite, .3);
			background-color:$mainWhite;
			color:$mainBrown;
		}
	}

	&--large {
		padding:.7rem .8rem;
		font-size:.9rem;	

		@mixin atSmall {
			padding:1rem 1.45rem;
			font-size:1.2rem;
		}
	}
}