.btn {
	background-color:$mainBlue;
	color:$mainWhite;
	text-decoration:none;
	padding:.7rem .8rem;
	font-size:.9rem;

	@mixin atSmall {
		padding:.75rem 1.1rem;
		font-size:1rem;
	} /*(pionowy, poziomy, vertical, horizontal) */

	&:hover {
		box-shadow:4px 4px 10px rgba($mainWhite, .3);
		background-color:$mainWhite;
		color:$mainBlue;
	}

	&--brown {
		background-color:$mainBrown;
		&:hover {
			box-shadow:4px 4px 10px rgba($mainWhite, .3);
			background-color:$mainWhite;
			color:$mainBrown;
		}
	}

	&--large {
		padding:.6rem .8rem;
		font-size:.9rem;	

		@mixin atSmall {
			padding:1rem 1.45rem;
			font-size:1.2rem;
		}
	}
}