.page-section {
	padding:2rem 0;

	@mixin atMedium {
		padding:5rem 0;
	}

	@mixin atLarge {
		padding:5rem 0 7rem 0;
	}

	&--gray {
		background-color:$mainGray;
		border-bottom:7px solid $mainBlue;
		color:$mainWhite;
	}

	&--t-padding-small {
		padding:1.2rem 0;

		@mixin atMedium {
			padding:2.8rem 0 4.5rem 0;
		}
	}

	&--testimonials {
		color:$mainWhite;
		background-color:$mainTesti;

		@mixin atLarge {
			&.lazyloaded {
				background:url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
				background-size:cover;
				background-attachment:fixed;
			}
		}
			
	}
}