.page-section {
	padding:2rem 0;

	@mixin atMedium {
		padding:4.5rem 0;
	}

	&--gray {
		background-color:$mainGray;
		border-bottom:7px solid $mainBlue;
		color:$mainWhite;
	}

	&--t-padding-small {
		padding:1.2rem 0;

		@mixin atMedium {
			padding:2.8rem 0 4.5rem 0;
		}
	}
}