

.icon {
	background-image:url('../../assets/images/sprites/svg/sprite-bbf7c593.svg');
}


.icon--comment {
	width:66px;
	height:66px;
	background-position: 60.55045871559633% 43.41463414634146%;
}



.icon--desk {
	width:66px;
	height:66px;
	background-position: 100% 0;
}



.icon--facebook {
	width:23.23px;
	height:44.01px;
	background-position: 45.933197837174525% 68.28494647341293%;
}



.icon--handshake {
	width:66px;
	height:66px;
	background-position: 30.275229357798164% 43.41463414634146%;
}



.icon--logo {
	width:152px;
	height:89px;
	background-position: 0 0;
}



.icon--mail {
	width:66px;
	height:50px;
	background-position: 0 70.13574660633485%;
}



.icon--mail2 {
	width:66px;
	height:66px;
	background-position: 69.72477064220183% 0;
}



.icon--phone {
	width:66px;
	height:66px;
	background-position: 100% 32.19512195121951%;
}



.icon--star {
	width:66px;
	height:66px;
	background-position: 100% 64.39024390243902%;
}



.icon--task {
	width:66px;
	height:66px;
	background-position: 0 43.41463414634146%;
}



.icon--twitter {
	width:53.78px;
	height:44.06px;
	background-position: 28.66823038832421% 68.29999118709792%;
}



.icon--user {
	width:66px;
	height:66px;
	background-position: 0 100%;
}

