

.icon {
	background-image:url('../../assets/images/sprites/svg/sprite-b3a5bafa.svg');
}


.icon--comment {
	width:66px;
	height:66px;
	background-position: 69.72477064220183% 0;
}



.icon--desk {
	width:66px;
	height:66px;
	background-position: 0 57.41935483870968%;
}



.icon--facebook {
	width:23.23px;
	height:44.01px;
	background-position: 45.933197837174525% 87.57556924120006%;
}



.icon--handshake {
	width:66px;
	height:66px;
	background-position: 30.275229357798164% 57.41935483870968%;
}



.icon--logo {
	width:152px;
	height:89px;
	background-position: 0 0;
}



.icon--mail {
	width:66px;
	height:50px;
	background-position: 60.55045871559633% 52.046783625730995%;
}



.icon--star {
	width:66px;
	height:66px;
	background-position: 100% 0;
}



.icon--task {
	width:66px;
	height:66px;
	background-position: 100% 42.58064516129032%;
}



.icon--twitter {
	width:53.78px;
	height:44.06px;
	background-position: 28.66823038832421% 87.60031649146603%;
}



.icon--user {
	width:66px;
	height:66px;
	background-position: 0 100%;
}

